.horizontal-cards-container{
  width: auto;
  max-width: calc(100vw - 4rem);
  overflow: auto;
  ion-card{
    width: auto;
    max-width: 40vw;
    min-width: 40vw;
    .card-icon{
      border-radius: 1000rem;
      overflow: hidden;
      width: 3rem;
      height: 3rem;
      object-fit: cover;
    }
    .value{
      font-weight: 600;
    }
  }
  ion-card-content{
    padding-top: 1rem !important;
  }
}
