ion-menu{
  --width: calc(100% - 3rem);
}
ion-menu ion-content {
  --background: var(--ion-item-background, var(--ion-background-color, #fff));
}
ion-menu ion-item ion-icon {
  font-size: 2.2rem;
}
ion-avatar{
  width: 6rem;
  height: 6rem;
  margin-right: 1.4rem;
}
ion-item.selected {
  --color: var(--ion-color-primary);
}
ion-label{
  font-size: 1.4rem !important;
  font-weight: 500;
}
.user-info{
  margin-bottom: 4rem;
}
ion-item{
  --padding-start: 0 !important;
  --padding-end: 0 !important;
}
ion-avatar{
  margin: 0 auto 2rem auto !important
}
.user-chip{
  width: 100%;
  padding-top: 3rem;
  padding-bottom: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.user-name{
  font-size: 2rem !important;
  text-align: center !important;
}
.user-mail{
  font-size: 1.2rem !important;
}
